body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
@font-face {
  font-family: 'webfont';
  src: url('//at.alicdn.com/t/9fooeparw3sj1yvi.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/9fooeparw3sj1yvi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/9fooeparw3sj1yvi.woff') format('woff'), /* chromeÃ£â‚¬Âfirefox */ url('//at.alicdn.com/t/9fooeparw3sj1yvi.ttf') format('truetype'), /* chromeÃ£â‚¬ÂfirefoxÃ£â‚¬ÂoperaÃ£â‚¬ÂSafari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/9fooeparw3sj1yvi.svg#NotoSansHans-DemiLight') format('svg');
  /* iOS 4.1- */
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.font.im/s/lato/v14/v0SdcGFAl2aezM9Vq_aFTQ.ttf) format('truetype');
}
html,
body {
  width: 100%;
  font-family: 'Roboto', 'Lato', sans-serif, 'webfont', "Ã¥Â¾Â®Ã¨Â½Â¯Ã©â€ºâ€¦Ã©Â»â€˜", "Hiragino Sans GB", "Ã¥â€ Â¬Ã©Ââ€™Ã©Â»â€˜Ã¤Â½â€œ", "Source Han Sans us Regular", Arial, "Helvetica", "Microsoft YaHei New", "Microsoft Yahei", "Ã¥Â¾Â®Ã¨Â½Â¯Ã©â€ºâ€¦Ã©Â»â€˜", "STXihei", "Ã¥ÂÅ½Ã¦â€“â€¡Ã§Â»â€ Ã©Â»â€˜", 'sans-serif';
  font-size: 16px;
  border-top: 1px solid transparent;
}
#alphaNav {
  background: #000000;
  padding: 15px 0;
}
.alphaMenu__item {
  margin-left: 30px;
}
.imgBg {
  height: 100%;
}
#part1,
#part2,
#part3,
#part4,
#part5,
#part6,
#part7,
#part8,
#part9,
#part10,
#part11,
#part12,
#part13,
#part14 {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}
#part1 .row,
#part2 .row,
#part3 .row,
#part4 .row,
#part5 .row,
#part6 .row,
#part7 .row,
#part8 .row,
#part9 .row,
#part10 .row,
#part11 .row,
#part12 .row,
#part13 .row,
#part14 .row {
  position: relative;
}
#part1 .moveMsg h2,
#part2 .moveMsg h2,
#part3 .moveMsg h2,
#part4 .moveMsg h2,
#part5 .moveMsg h2,
#part6 .moveMsg h2,
#part7 .moveMsg h2,
#part8 .moveMsg h2,
#part9 .moveMsg h2,
#part10 .moveMsg h2,
#part11 .moveMsg h2,
#part12 .moveMsg h2,
#part13 .moveMsg h2,
#part14 .moveMsg h2 {
  font-size: 3em;
  color: #333;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  margin-bottom: 15px;
}
#part1 .moveMsg p,
#part2 .moveMsg p,
#part3 .moveMsg p,
#part4 .moveMsg p,
#part5 .moveMsg p,
#part6 .moveMsg p,
#part7 .moveMsg p,
#part8 .moveMsg p,
#part9 .moveMsg p,
#part10 .moveMsg p,
#part11 .moveMsg p,
#part12 .moveMsg p,
#part13 .moveMsg p,
#part14 .moveMsg p {
  font-size: 16px;
  color: #666;
  line-height: 30px;
  text-align: justify;
}
#part1 {
  background-image: url(https://static.ubtechrobots.ru/ubtechrobots/alpha/alpha1pro1-2.png);
}
#part1 .moveMsg h2 {
  font-size: 4em;
  color: #fff;
  line-height: 1em;
}
#part1 .moveMsg h4 {
  font-size: 1.5em;
  color: #666;
  font-weight: 300;
  line-height: 1.5em;
}
#part1 .moveMsg p {
  font-size: 18px;
  color: #666;
  font-weight: 300;
}
#part1 .buyCard {
  color: #FFFFFF;
}
#part1 .close {
  background: url("../img/close.svg");
  position: relative;
  top: 21px;
  right: 30px;
  width: 30px;
  height: 30px;
  -webkit-background-size: contain;
          background-size: contain;
}
#part1 .nav-link {
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 1em;
          border-radius: 1em;
  background: #008edb;
  color: #FFFFFF;
}
#part2 {
  background: url(https://static.ubtechrobots.ru/ubtechrobots/alpha/alpha1pro2-1.jpg) no-repeat center;
}
#part2 h2 {
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
#part2 p {
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
#part2 .moveIcon li {
  text-align: center;
  display: inline-block;
}
#part2 .moveIcon li i {
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto 20px;
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1proIcon.png?12400798506024755519) no-repeat;
}
#part2 .moveIcon li span {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
#part2 .moveIcon .music i {
  background-position: 0 -1115px;
}
#part2 .moveIcon .dance i {
  background-position: 0 -1025px;
}
#part2 .moveIcon .wrestle i {
  background-position: 0 -935px;
}
#part3 {
  background: #e9e9e9;
  padding: 50px 0 0;
}
#part4 {
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro4-2.png?1240079…), url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro4-1.jpg?1240079…);
  -webkit-background-size: 250px, cover;
          background-size: 250px, cover;
  background-position: center 15px, top;
  background-repeat: no-repeat;
  padding: 400px 0 50px;
}
#part4 .moveIcon ul {
  width: 100%;
  overflow: hidden;
  text-align: left;
}
#part4 .moveIcon li {
  text-align: center;
  display: inline-block;
}
#part4 .moveIcon li i {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1proIcon.png?12400798506024755519) no-repeat;
}
#part4 .moveIcon li span {
  display: block;
  text-align: center;
  color: #666;
  font-size: 20px;
}
#part4 .moveIcon .li1 i {
  background-position: 0 -1605px;
}
#part4 .moveIcon .li2 i {
  background-position: 0 -1705px;
}
#part4 .moveIcon .li3 i {
  background-position: 0 -1505px;
}
#part4 .robot {
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro4-2.png?12400798506024755519) no-repeat center;
}
#part5 {
  background: url(https://cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro5-1.png?12400798506024755519), url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro5-2.jpg?1240079…) no-repeat center;
  -webkit-background-size: 250px, cover;
          background-size: 250px, cover;
  background-position: center 100%, top;
  background-repeat: no-repeat;
  padding: 15px 0 160px;
}
#part6 {
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro6-1.jpg?1240079…) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
#part6 .moveMsg h2,
#part6 .moveMsg p {
  color: #FFFFFF;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
#part7 {
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro7-5.png?1240079…) no-repeat center;
  -webkit-background-size: 280px 280px;
          background-size: 280px;
  background-position: center 95%;
  padding: 15px 0 290px;
}
#part7 .moveIcon .iconCom {
  display: inline-block;
}
#part7 .moveIcon .iconCom i {
  display: block;
  width: 80px;
  height: 80px;
  margin: 10px auto 30px;
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1proIcon.png?12400798506024755519) no-repeat;
  background-position: 0 -695px;
}
#part7 .moveIcon .iconCom span {
  display: block;
  text-align: center;
  color: #5aaef5;
  font-size: 20px;
}
#part8 {
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-10.jpg?12400798506024755519) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
}
#part8 .moveIcon ul {
  overflow: hidden;
  text-align: left;
}
#part8 .moveIcon li {
  text-align: center;
  display: inline-block;
  float: left;
  cursor: pointer;
}
#part8 .moveIcon li i {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto 22px;
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1proIcon.png?12400798506024755519) no-repeat center;
}
#part8 .moveIcon li span {
  display: block;
  text-align: center;
  color: #707070;
  font-size: 20px;
}
#part8 .moveIcon .li1 i {
  background-position: 0 -265px;
}
#part8.moveIcon .li1.active span {
  color: #5aaef5;
}
#part8 .moveIcon .li1.active i {
  background-position: 0 -475px;
}
#part8 .moveIcon .li2 i {
  background-position: 0 -335px;
}
#part8 .moveIcon .li2.active span {
  color: #5aaef5;
}
#part8 .moveIcon .li2.active i {
  background-position: 0 -545px;
}
#part8 .moveIcon .li3 i {
  background-position: 0 -405px;
}
#part8 .moveIcon .li3.active span {
  color: #5aaef5;
}
#part8 .moveIcon .li3.active i {
  background-position: 0 -195px;
}
#part8 .robot {
  width: 639px;
  height: 660px;
  position: relative;
}
#part8 .robot .robotLi {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#part8 .robot .robot1 {
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-9.png?12400798506024755519) no-repeat center;
  -webkit-background-size: 300px 499px;
          background-size: 300px 499px;
  -webkit-transform: translateX(-10%);
  -ms-transform: translateX(-10%);
  transform: translateX(-10%);
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#part8 .robot .robot1.active {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all .8s .8s;
  -o-transition: all .8s .8s;
  transition: all .8s .8s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#part8 .robot .robot2 {
  margin-left: -30px;
  opacity: 0;
  -webkit-transform: translateX(-10%);
  -ms-transform: translateX(-10%);
  transform: translateX(-10%);
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#part8 .robot .robot2 .robotList {
  position: relative;
  width: 100%;
  height: 100%;
}
#part8 .robot .robot2 .robotList div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 33px;
  top: 0;
  opacity: 0;
}
#part8 .robot .robot2 .robotList .robotL1 {
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-11.png?12400798506024755519) no-repeat center;
  -webkit-background-size: 300px 512px ;
          background-size: 300px 512px ;
}
#part8 .robot .robot2 .robotList .robotL2 {
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-12.png?12400798506024755519) no-repeat center;
  -webkit-background-size: 300px 505px ;
          background-size: 300px 505px ;
}
#part8 .robot .robot2 .robotList .robotL3 {
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-8.png?12400798506024755519) no-repeat center;
  -webkit-background-size: 329px 500px ;
          background-size: 329px 500px ;
}
#part8 .robot .robot2 .robotList .robotL4 {
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-13.png?12400798506024755519) no-repeat center;
  -webkit-background-size: 544px 500px ;
          background-size: 544px 500px ;
}
#part8 .robot .robot2 .robotList .robotL5 {
  top: 82px;
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-14.png?12400798506024755519) no-repeat center top;
  -webkit-background-size: 468px 500px ;
          background-size: 468px 500px ;
}
#part8 .robot .robot2.active {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all .8s .8s;
  -o-transition: all .8s .8s;
  transition: all .8s .8s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#part8 .robot .robot2.active .robotList .robotL1 {
  -webkit-animation: opacity3 2.1s forwards;
  animation: opacity3 2.1s forwards;
}
#part8 .robot .robot2.active .robotList .robotL2 {
  -webkit-animation: opacity1 1.3s 1.8s forwards;
  animation: opacity1 1.3s 1.8s forwards;
}
#part8 .robot .robot2.active .robotList .robotL3 {
  -webkit-animation: opacity1 1.3s 2.8s forwards;
  animation: opacity1 1.3s 2.8s forwards;
}
#part8 .robot .robot2.active .robotList .robotL4 {
  -webkit-animation: opacity1 1.3s 3.8s forwards;
  animation: opacity1 1.3s 3.8s forwards;
}
#part8 .robot .robot2.active .robotList .robotL5 {
  -webkit-animation: opacity2 1s 4.8s forwards;
  animation: opacity2 1s 4.8s forwards;
}
#part8 .robot .robot3 {
  opacity: 0;
  -webkit-transform: translateX(-10%);
  -ms-transform: translateX(-10%);
  transform: translateX(-10%);
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#part8 .robot .robot3 .robotList {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-19.png?12400798506024755519) no-repeat center;
  -webkit-background-size: 300px 499px;
          background-size: 300px 499px;
}
#part8 .robot .robot3 .robotList div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}
#part8 .robot .robot3 .robotList .robotL1 {
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-20.png?12400798506024755519) no-repeat center;
  -webkit-background-size: 94px 165px;
          background-size: 94px 165px;
}
#part8 .robot .robot3 .robotList .robotL2 {
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-21.png?12400798506024755519) no-repeat center;
  -webkit-background-size: 96px 165px;
          background-size: 96px 165px;
}
#part8 .robot .robot3 .robotList .robotL3 {
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-22.png?12400798506024755519) no-repeat center;
  -webkit-background-size: 105px 165px;
          background-size: 105px 165px;
}
#part8 .robot .robot3 .robotList .robotL4 {
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-23.png?12400798506024755519) no-repeat center;
  -webkit-background-size: 180px 165px;
          background-size: 180px 165px;
}
#part8 .robot .robot3 .robotList .robotL5 {
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-24.png?12400798506024755519) no-repeat center;
  -webkit-background-size: 155px 165px;
          background-size: 155px 165px;
}
#part8 .robot .robot3.active {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all .8s .8s;
  -o-transition: all .8s .8s;
  transition: all .8s .8s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#part8 .robot .robot3.active .robotList .robotL1 {
  -webkit-animation: opacity3 2.1s forwards;
  animation: opacity3 2.1s forwards;
}
#part8 .robot .robot3.active .robotList .robotL2 {
  -webkit-animation: opacity1 1.3s 1.8s forwards;
  animation: opacity1 1.3s 1.8s forwards;
}
#part8 .robot .robot3.active .robotList .robotL3 {
  -webkit-animation: opacity1 1.3s 2.8s forwards;
  animation: opacity1 1.3s 2.8s forwards;
}
#part8 .robot .robot3.active .robotList .robotL4 {
  -webkit-animation: opacity1 1.3s 3.8s forwards;
  animation: opacity1 1.3s 3.8s forwards;
}
#part8 .robot .robot3.active .robotList .robotL5 {
  -webkit-animation: opacity2 1s 4.8s forwards;
  animation: opacity2 1s 4.8s forwards;
}
#part9 .moveIcon li {
  text-align: center;
  display: inline-block;
}
#part9 .moveIcon li i {
  display: block;
  width: 53px;
  height: 53px;
  margin: 0 auto 22px;
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1proIcon.png?12400798506024755519) no-repeat;
}
#part9 .moveIcon li span {
  display: block;
  text-align: center;
  color: #666;
  font-size: 20px;
}
#part9 .moveIcon .li1 i {
  background-position: 0 -42px;
}
#part9 .moveIcon .li2 i {
  background-position: 0 -95px;
  height: 48px;
}
#part9 .moveIcon .li3 i {
  background-position: 0 -143px;
  height: 52px;
}
#part9 .moveIcon .li4 {
  margin-right: 0;
}
#part9 .moveIcon .li4 i {
  background-position: 0 0;
  height: 42px;
}
#part10 {
  background: url("https://cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro10.jpg?12400798506024755519");
}
#part10 .msgIcon span {
  width: 148px;
  height: 52px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1proIcon.png?12400798506024755519) no-repeat;
}
#part10 .msgIcon .msg1 {
  background-position: 9px -1866px;
}
#part10 .msgIcon .msg2 {
  background-position: 0 -1970px;
}
#part10 .msgIcon .msg3 {
  background-position: 12px -1918px;
}
#part10 .legend--min {
  width: 100%;
  height: 100%;
}
#part10 .legend {
  width: 100%;
  height: 414px;
  top: 360px;
  left: 50%;
  margin-left: -610px;
  position: absolute;
}
#part10 .legend div {
  position: absolute;
  height: 100%;
  top: 0;
  opacity: 0;
}
#part10 .legend .legend1 {
  width: 301px;
  left: 198px;
  background: url(https://static.ubtechrobots.ru/ubtechrobots/alpha/inventor31.png) no-repeat center;
}
#part10 .legend .legend2 {
  width: 298px;
  left: 424px;
  background: url(https://static.ubtechrobots.ru/ubtechrobots/alpha/inventor32.png) no-repeat center;
}
#part10 .legend .legend3 {
  width: 225px;
  left: 722px;
  background: url(https://static.ubtechrobots.ru/ubtechrobots/alpha/inventor33.png) no-repeat center;
}
#part10 .legend .legend4 {
  width: 131px;
  left: 934px;
  background: url(https://static.ubtechrobots.ru/ubtechrobots/alpha/inventor34.png) no-repeat center;
}
#part10.active .legend .legend1 {
  opacity: 1;
  left: 154px;
  -webkit-transition: all 1.4s .6s;
  -o-transition: all 1.4s .6s;
  transition: all 1.4s .6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#part10.active .legend .legend2 {
  opacity: 1;
  left: 382px;
  -webkit-transition: all 1.4s .4s;
  -o-transition: all 1.4s .4s;
  transition: all 1.4s .4s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#part10.active .legend .legend3 {
  opacity: 1;
  left: 680px;
  -webkit-transition: all 1.4s .2s;
  -o-transition: all 1.4s .2s;
  transition: all 1.4s .2s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#part10.active .legend .legend4 {
  opacity: 1;
  left: 934px;
  -webkit-transition: all 1.4s;
  -o-transition: all 1.4s;
  transition: all 1.4s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#part12 {
  background-color: #000000;
}
#part12 .List {
  padding: 40px 0;
}
#part12 .List .img1 div,
#part12 .List .img2 div,
#part12 .List .img3 div,
#part12 .List .img4 div,
#part12 .List .img5 div,
#part12 .List .img6 div {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}
#part12 .List .img1 {
  height: 135px;
  margin-bottom: 15px;
}
#part12 .List .img1 div {
  background-image: url("https://static.ubtechrobots.ru/ubtechrobots/alpha/alpha1pro12-1.png");
}
#part12 .List .img2 {
  height: 435px;
  margin-top: 15px;
}
#part12 .List .img2 div {
  background-image: url("https://static.ubtechrobots.ru/ubtechrobots/alpha/alpha1pro12-2.png");
}
#part12 .List .img3 {
  height: 600px;
}
#part12 .List .img3 div {
  background-image: url("https://static.ubtechrobots.ru/ubtechrobots/alpha/alpha1pro12-3.png");
}
#part12 .List .img4 {
  height: 285px;
  margin-bottom: 15px;
}
#part12 .List .img4 div {
  background-image: url("https://static.ubtechrobots.ru/ubtechrobots/alpha/alpha1pro12-4.png");
}
#part12 .List .img5 {
  height: 285px;
  margin-top: 15px;
}
#part12 .List .img5 div {
  background-image: url("https://static.ubtechrobots.ru/ubtechrobots/alpha/alpha1pro12-5.png");
}
#part12 .List .img6 {
  height: 285px;
  margin-top: 15px;
}
#part12 .List .img6 div {
  background-image: url("https://static.ubtechrobots.ru/ubtechrobots/alpha/alpha1pro12-6.png");
}
#part14 {
  background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro14-2.png?1240079…) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  /*& .standard ul .msgLeft {
    width: 45%;
    float: left;
  }
  & .standard ul .msgRight {
    width: 55%;
    float: left;
  }*/
}
#part14 .standard {
  float: right;
}
#part14 .standard h2 {
  font-size: 48px;
  color: #333;
  display: block;
}
#part14 .standard ul {
  display: block;
  border-top: 1px dashed #dedede;
}
#part14 .standard ul {
  display: block;
  border-top: 1px dashed #dedede;
}
#part14 .standard ul li {
  border-bottom: 1px dashed #dedede;
}
#part14 .standard span {
  color: #666;
  line-height: 68px;
  font-size: 12px;
  display: inline-block;
}
#part14 .standard span .space2 {
  display: inline-block;
  width: 32px;
}
#part14 .standard span .space3 {
  display: inline-block;
  width: 9px;
}
#part14 .standard .msgTitle {
  width: 120px;
  font-weight: 600;
}
#part14 .standard .msgMessage {
  vertical-align: middle;
  line-height: normal;
}
#part2 h2,
#part5 h2,
#part8 h2,
#part2 p,
#part5 p,
#part8 p {
  color: #FFFFFF!important;
}
@-webkit-keyframes movepart2 {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  10% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  20% {
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
  30% {
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
  40% {
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
  50% {
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  60% {
    -webkit-filter: blur(6px);
    filter: blur(6px);
  }
  70% {
    -webkit-filter: blur(7px);
    filter: blur(7px);
  }
  80% {
    -webkit-filter: blur(8px);
    filter: blur(8px);
  }
  90% {
    -webkit-filter: blur(9px);
    filter: blur(9px);
  }
  100% {
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
}
@keyframes movepart2 {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  10% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  20% {
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
  30% {
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
  40% {
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
  50% {
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  60% {
    -webkit-filter: blur(6px);
    filter: blur(6px);
  }
  70% {
    -webkit-filter: blur(7px);
    filter: blur(7px);
  }
  80% {
    -webkit-filter: blur(8px);
    filter: blur(8px);
  }
  90% {
    -webkit-filter: blur(9px);
    filter: blur(9px);
  }
  100% {
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
}
@-webkit-keyframes part7robot2 {
  0% {
    background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-11.png?12400798506024755519) no-repeat center;
  }
  25% {
    background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-12.png?12400798506024755519) no-repeat center;
  }
  50% {
    background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-8.png?12400798506024755519) no-repeat center;
  }
  75% {
    background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-13.png?12400798506024755519) no-repeat center;
  }
  100% {
    background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-14.png?12400798506024755519) no-repeat center;
  }
}
@keyframes part7robot2 {
  0% {
    background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-11.png?12400798506024755519) no-repeat center;
  }
  25% {
    background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-12.png?12400798506024755519) no-repeat center;
  }
  50% {
    background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-8.png?12400798506024755519) no-repeat center;
  }
  75% {
    background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-13.png?12400798506024755519) no-repeat center;
  }
  100% {
    background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-14.png?12400798506024755519) no-repeat center;
  }
}
@-webkit-keyframes part7robot3 {
  0% {
    background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-15.png?12400798506024755519) no-repeat center;
  }
  25% {
    background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-16.png?12400798506024755519) no-repeat center;
  }
  50% {
    background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-7.png?12400798506024755519) no-repeat center;
  }
  75% {
    background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-17.png?12400798506024755519) no-repeat center;
  }
  100% {
    background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-18.png?12400798506024755519) no-repeat center;
  }
}
@keyframes part7robot3 {
  0% {
    background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-15.png?12400798506024755519) no-repeat center;
  }
  25% {
    background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-16.png?12400798506024755519) no-repeat center;
  }
  50% {
    background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-7.png?12400798506024755519) no-repeat center;
  }
  75% {
    background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-17.png?12400798506024755519) no-repeat center;
  }
  100% {
    background: url(//cdn.shopify.com/s/files/1/2265/4045/files/alpha1pro8-18.png?12400798506024755519) no-repeat center;
  }
}
@-webkit-keyframes opacity1 {
  0% {
    opacity: 0;
  }
  77% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacity1 {
  0% {
    opacity: 0;
  }
  77% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes opacity2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacity3 {
  0% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  29% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacity3 {
  0% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  29% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 992px) {
  #part8 .robot .robot2 .robotList .robotL1 {
    -webkit-background-size: contain;
            background-size: contain;
  }
  #part8 .robot .robot2 .robotList .robotL2 {
    -webkit-background-size: contain;
            background-size: contain;
  }
  #part8 .robot .robot2 .robotList .robotL3 {
    -webkit-background-size: contain;
            background-size: contain;
  }
  #part8 .robot .robot2 .robotList .robotL4 {
    -webkit-background-size: 90% 90% !important;
            background-size: 90% !important;
    background-position: 30 100px;
  }
  #part8 .robot .robot2 .robotList .robotL5 {
    -webkit-background-size: 90% 90% !important;
            background-size: 90% !important;
    background-position: top;
  }
}
@media (max-width: 768px) {
  #part1 {
    background-image: url(https://static.ubtechrobots.ru/ubtechrobots/alpha/alpha1pro1-2.png);
    -webkit-background-size: 250px 250px;
            background-size: 250px;
    background-color: #000000;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 270px 0 10px;
  }
  #part1 .container:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #e9e9e9;
  }
  #part10 .legend {
    display: none;
  }
}
@media (min-width: 576px) {
  #part5 {
    padding: 50px 0 280px;
    -webkit-background-size: 485px, cover;
            background-size: 485px, cover;
  }
  #part7 {
    padding: 50px 0 290px;
  }
  #part8 .moveIcon ul {
    height: 100%;
  }
}
@media (min-width: 768px) {
  .imgBg {
    display: none;
  }
  #part1 {
    padding: 50px 0 0;
  }
  #part1 .robot {
    position: absolute;
    background-position: center bottom;
    bottom: 0;
    height: 340px;
  }
  #part1 .robot::after {
    position: static;
  }
  #part2 {
    padding: 160px 0;
  }
  #part4 {
    -webkit-background-size: 300px, cover;
            background-size: 300px, cover;
    background-position: 75% 50%, top;
    background-repeat: no-repeat;
    padding: 160px 0;
  }
  #part6 {
    padding: 160px 0;
  }
  #part7 {
    padding: 160px 0;
    background-position: 75% 50%;
  }
  #part7 .moveIcon .iconCom {
    display: block;
  }
  #part8 .robot {
    position: absolute;
  }
  .moveIcon {
    padding: 60px 0px;
  }
  #part10 {
    padding-top: 50px;
    padding-bottom: 600px;
  }
}
@media (min-width: 992px) {
  #part8 .moveIcon {
    padding: 130px 0px;
  }
}
